In [1]:
import pandas as pd

In [2]:

# Lee el archivo CSV en un DataFrame
df_Internet_BAF = pd.read_csv('Internet_BAF.csv')

# Muestra el DataFrame
print(df_Internet_BAF)

     Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0   2022          4                11       12     11   Oct-Dic 2022
1   2022          3                11       12     11  Jul-Sept 2022
2   2022          2                11       12     11   Abr-Jun 2022
3   2022          1                11       13     11   Ene-Mar 2022
4   2021          4                10       13     10   Oct-Dic 2021
5   2021          3                10       10     10  Jul-Sept 2021
6   2021          2                10       10     10   Abr-Jun 2021
7   2021          1                10       10     10   Ene-Mar 2021
8   2020          4                10       10     10   Oct-Dic 2020
9   2020          3                 9       10      9  Jul-Sept 2020
10  2020          2                 9       10      9   Abr-Jun 2020
11  2020          1                 9       10      9   Ene-Mar 2020
12  2019          4                 9       10      9   Oct-Dic 2019
13  2019          3                 9       22      9  Jul-Sept 2019
14  2019          2                 9       22      9   Abr-Jun 2019
15  2019          1                 9       22      9   Ene-Mar 2019
16  2018          4                 8       22      8   Oct-Dic 2018
17  2018          3                 8       27      8  Jul-Sept 2018
18  2018          2                 8       27      8   Abr-Jun 2018
19  2018          1                 8       27      8   Ene-Mar 2018
20  2017          4                 8       27      8   Oct-Dic 2017
21  2017          3                 8       28      8  Jul-Sept 2017
22  2017          2                 7       29      7   Abr-Jun 2017
23  2017          1                 7       29      7   Ene-Mar 2017
24  2016          4                 7       29      7   Oct-Dic 2016
25  2016          3                 7       29      7  Jul-Sept 2016
26  2016          2                 7       32      7   Abr-Jun 2016
27  2016          1                 7       33      7   Ene-Mar 2016
28  2015          4                 7       33      7   Oct-Dic 2015
29  2015          3                 7       33      7  Jul-Sept 2015
30  2015          2                 7       33      7   Abr-Jun 2015
31  2015          1                 7       38      7   Ene-Mar 2015
32  2014          4                 7       39      7   Oct-Dic 2014
33  2014          3                 7       36      7  Jul-Sept 2014
34  2014          2                 6       36      6   Abr-Jun 2014
35  2014          1                 6       36      6   Ene-Mar 2014

In [3]:
#Eliminar nulos
df_Internet_BAF.dropna(inplace=True)

In [4]:
#Eliminar duplicados
df_Internet_BAF.drop_duplicates( keep="first", inplace=True)

In [5]:
df_Internet_BAF.head(3)

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022

In [6]:
df_Internet_BAF.shape

(36, 6)

In [7]:
df_Internet_BAF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               36 non-null     int64
 1   Trimestre         36 non-null     int64
 2   Banda ancha fija  36 non-null     int64
 3   Dial up           36 non-null     int64
 4   Total             36 non-null     int64
 5   Periodo           36 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

In [8]:
df_Internet_BAF['Periodo'] = df_Internet_BAF['Periodo'].astype(str)

In [9]:
#Outliers
columna_de_interes = 'Banda ancha fija'  
Q1 = df_Internet_BAF[columna_de_interes].quantile(0.25)
Q3 = df_Internet_BAF[columna_de_interes].quantile(0.75)
IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

outliers = df_Internet_BAF[(df_Internet_BAF[columna_de_interes] < limite_inferior) | (df_Internet_BAF[columna_de_interes] > limite_superior)]

print("Valores atípicos en la columna", columna_de_interes)
print(outliers)

Valores atípicos en la columna Banda ancha fija
Empty DataFrame
Columns: [Año, Trimestre, Banda ancha fija, Dial up, Total, Periodo]
Index: []

In [10]:
#Outliers para la columan periodo
trimestres_a_meses = {
    'Ene-Mar': '01',
    'Abr-Jun': '04',
    'Jul-Sept': '07',
    'Oct-Dic': '10'
}
df_Internet_BAF['Año'] = df_Internet_BAF['Periodo'].str.extract(r'(\d{4})')

df_Internet_BAF['Fecha'] = df_Internet_BAF['Periodo'].str.extract(r'(\w+-\w+) (\d{4})')[0].map(trimestres_a_meses) + '-' + df_Internet_BAF['Año']

df_Internet_BAF['Fecha'] = pd.to_datetime(df_Internet_BAF['Fecha'], format='%m-%Y')


Q1 = df_Internet_BAF['Fecha'].quantile(0.25)
Q3 = df_Internet_BAF['Fecha'].quantile(0.75)


IQR = Q3 - Q1


limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

outliers = df_Internet_BAF[(df_Internet_BAF['Fecha'] < limite_inferior) | (df_Internet_BAF['Fecha'] > limite_superior)]

print("Outliers:")
print(outliers)

Outliers:
Empty DataFrame
Columns: [Año, Trimestre, Banda ancha fija, Dial up, Total, Periodo, Fecha]
Index: []

Verificar que las columnas relacionadas con la banda ancha fija y dial-up estén en un formato consistente:

In [11]:
print(df_Internet_BAF['Banda ancha fija'].value_counts())

Banda ancha fija
7     12
9      7
8      6
10     5
11     4
6      2
Name: count, dtype: int64

In [12]:

# Lee el archivo CSV en un DataFrame
df_Internet_Ingresos = pd.read_csv('Internet_Ingresos.csv')
print(df_Internet_Ingresos)

     Año  Trimestre  Ingresos (miles de pesos)        Periodo
0   2022          4                         72   Oct-Dic 2022
1   2022          3                         64  Jul-Sept 2022
2   2022          2                         60   Abr-Jun 2022
3   2022          1                         55   Ene-Mar 2022
4   2021          4                         45   Oct-Dic 2021
5   2021          3                         43  Jul-Sept 2021
6   2021          2                         38   Abr-Jun 2021
7   2021          1                         37   Ene-Mar 2021
8   2020          4                         34   Oct-Dic 2020
9   2020          3                         32  Jul-Sept 2020
10  2020          2                         32   Abr-Jun 2020
11  2020          1                         30   Ene-Mar 2020
12  2019          4                         24   Oct-Dic 2019
13  2019          3                         22  Jul-Sept 2019
14  2019          2                         21   Abr-Jun 2019
15  2019          1                         20   Ene-Mar 2019
16  2018          4                         17   Oct-Dic 2018
17  2018          3                         15  Jul-Sept 2018
18  2018          2                         14   Abr-Jun 2018
19  2018          1                         13   Ene-Mar 2018
20  2017          4                         11   Oct-Dic 2017
21  2017          3                         10  Jul-Sept 2017
22  2017          2                         10   Abr-Jun 2017
23  2017          1                          9   Ene-Mar 2017
24  2016          4                          7   Oct-Dic 2016
25  2016          3                          7  Jul-Sept 2016
26  2016          2                          7   Abr-Jun 2016
27  2016          1                          6   Ene-Mar 2016
28  2015          4                          5   Oct-Dic 2015
29  2015          3                          5  Jul-Sept 2015
30  2015          2                          5   Abr-Jun 2015
31  2015          1                          5   Ene-Mar 2015
32  2014          4                          4   Oct-Dic 2014
33  2014          3                          3  Jul-Sept 2014
34  2014          2                          3   Abr-Jun 2014
35  2014          1                          3   Ene-Mar 2014

In [13]:
#Eliminar nulos
df_Internet_Ingresos.dropna(inplace=True)

In [14]:
#Eliminar duplicados
df_Internet_Ingresos.drop_duplicates( keep="first", inplace=True)

In [15]:
df_Internet_Ingresos.head(3)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022

In [16]:
df_Internet_Ingresos.shape

(36, 4)

In [17]:
df_Internet_Ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     int64
 3   Periodo                    36 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

In [18]:
#Outliers
columna_de_interes2 = 'Ingresos (miles de pesos)' 
Q1 = df_Internet_Ingresos[columna_de_interes2].quantile(0.25)
Q3 = df_Internet_Ingresos[columna_de_interes2].quantile(0.75)
IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR
outliers = df_Internet_Ingresos[(df_Internet_Ingresos[columna_de_interes2] < limite_inferior) | (df_Internet_Ingresos[columna_de_interes2] > limite_superior)]
print("Valores atípicos en la columna", columna_de_interes2)
print(outliers)

Valores atípicos en la columna Ingresos (miles de pesos)
    Año  Trimestre  Ingresos (miles de pesos)       Periodo
0  2022          4                         72  Oct-Dic 2022

In [19]:
# Lee el archivo CSV en un DataFrame
df_Listadodelocalidadesconconectividadainternet= pd.read_csv('Listadodelocalidadesconconectividadainternet_2750221699404068267.csv')
print(df_Listadodelocalidadesconconectividadainternet)

         Provincia     Partido                                Localidad ADSL  \
0     BUENOS AIRES  9 de Julio  Alfredo Demarchi (Est. Facundo Quiroga)   SI
1     BUENOS AIRES  9 de Julio                        Carlos María Naón   --
2     BUENOS AIRES  9 de Julio                                 Dudignac   --
3     BUENOS AIRES  9 de Julio                 La Aurora (Est. La Niña)   --
4     BUENOS AIRES  9 de Julio           Manuel B. Gonnet (Est. French)   SI
...            ...         ...                                      ...  ...
4306  BUENOS AIRES       Pilar                                    Pilar   SI
4307  BUENOS AIRES       Pilar                        Presidente Derqui   SI
4308  BUENOS AIRES       Pilar                       Roberto De Vicenzo   --
4309  BUENOS AIRES       Pilar                             Santa Teresa   --
4310  BUENOS AIRES       Pilar                              Tortuguitas   --

     Cablemódem Dial Up Fibra óptica  4G  3G Telefonía Fija Wireless Satelital
0            --      --           --  SI  SI             SI       --        --
1            --      --           --  SI  SI             SI       --        --
2            --      SI           --  SI  SI             SI       SI        --
3            --      --           --  SI  --             --       --        --
4            --      --           SI  SI  SI             SI       --        --
...         ...     ...          ...  ..  ..            ...      ...       ...
4306         SI      SI           SI  SI  SI             SI       SI        SI
4307         SI      --           SI  SI  SI             SI       SI        --
4308         --      --           --  SI  SI             --       --        --
4309         --      --           --  SI  SI             --       --        SI
4310         --      --           SI  SI  SI             --       SI        SI

[4311 rows x 12 columns]

In [20]:
#Eliminar nulos
df_Listadodelocalidadesconconectividadainternet.dropna(inplace=True)

In [21]:
#Eliminar duplicados
df_Listadodelocalidadesconconectividadainternet.drop_duplicates( keep="first", inplace=True)

In [22]:
df_Listadodelocalidadesconconectividadainternet.head(3)

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--

In [23]:
df_Listadodelocalidadesconconectividadainternet.shape

(4309, 12)

In [24]:
df_Listadodelocalidadesconconectividadainternet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4309 entries, 0 to 4310
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4309 non-null   object
 1   Partido         4309 non-null   object
 2   Localidad       4309 non-null   object
 3   ADSL            4309 non-null   object
 4   Cablemódem      4309 non-null   object
 5   Dial Up         4309 non-null   object
 6   Fibra óptica    4309 non-null   object
 7   4G              4309 non-null   object
 8   3G              4309 non-null   object
 9   Telefonía Fija  4309 non-null   object
 10  Wireless        4309 non-null   object
 11  Satelital       4309 non-null   object
dtypes: object(12)
memory usage: 437.6+ KB

In [25]:

# Lee el archivo CSV en un DataFrame
df_InternetFijoxVelocidaddeBajada = pd.read_csv('AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171699568639953.csv')
print(df_InternetFijoxVelocidaddeBajada)

         Provincia      Partido                           Localidad  \
0     BUENOS AIRES   25 de Mayo                          25 de Mayo
1     BUENOS AIRES   25 de Mayo                     Agustín Mosconi
2     BUENOS AIRES   25 de Mayo                           Del Valle
3     BUENOS AIRES   25 de Mayo                           Ernestina
4     BUENOS AIRES   25 de Mayo                   Gobernador Ugarte
...            ...          ...                                 ...
3090       TUCUMAN   Tafí Viejo  Villa Mariano Moreno - El Colmenar
3091       TUCUMAN      Trancas                San Pedro de Colalao
3092       TUCUMAN      Trancas                   Villa  de Trancas
3093       TUCUMAN  Yerba Buena                       Villa Carmela
3094       TUCUMAN  Yerba Buena            Yerba Buena - Marcos Paz

     Link Indec  Otros  0,256 Mbps  0,375 Mbps  0,5 Mbps  0,512 Mbps  \
0       6854100    NaN         NaN         NaN       2.0         NaN
1       6854010    NaN         NaN         NaN       NaN         NaN
2       6854020    NaN         NaN         NaN       1.0         NaN
3       6854030    NaN         NaN         NaN       NaN         NaN
4       6854040    NaN         NaN         NaN       NaN         NaN
...         ...    ...         ...         ...       ...         ...
3090   90105100    NaN         NaN         NaN       NaN         NaN
3091   90112020    NaN         NaN         NaN       NaN         NaN
3092   90112030    4.0         NaN         NaN       NaN         NaN
3093   90119020    NaN         NaN         NaN       NaN         NaN
3094   90119030  176.0         NaN         NaN       NaN         NaN

      0,625 Mbps  ...  61 Mbps  62 Mbps  64 Mbps  65 Mbps  66 Mbps  70 Mbps  \
0            NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
1            NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
2            NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
3            NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
4            NaN  ...      NaN      NaN      NaN      1.0      NaN      NaN
...          ...  ...      ...      ...      ...      ...      ...      ...
3090         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
3091         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
3092         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
3093         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
3094         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN

      75 Mbps  78 Mbps  80 Mbps  83 Mbps
0         NaN      NaN     12.0      NaN
1         NaN      NaN      NaN      NaN
2         NaN      NaN      NaN      NaN
3         NaN      NaN      NaN      NaN
4         NaN      NaN      NaN      NaN
...       ...      ...      ...      ...
3090      NaN      NaN      NaN      NaN
3091      NaN      NaN      NaN      NaN
3092      NaN      NaN      NaN      NaN
3093      NaN      NaN      NaN      NaN
3094      NaN      NaN      NaN      NaN

[3095 rows x 83 columns]

In [26]:
#Eliminar duplicados
df_InternetFijoxVelocidaddeBajada.drop_duplicates( keep="first", inplace=True)

In [27]:
df_InternetFijoxVelocidaddeBajada.shape

(3095, 83)

In [28]:
df_InternetFijoxVelocidaddeBajada.head(3)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_InternetFijoxVelocidaddeBajada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3095 non-null   object
 1   Partido     3095 non-null   object
 2   Localidad   3095 non-null   object
 3   Link Indec  3095 non-null   object
 4   Otros       962 non-null    float64
 5   0,256 Mbps  28 non-null     float64
 6   0,375 Mbps  1 non-null      float64
 7   0,5 Mbps    643 non-null    float64
 8   0,512 Mbps  523 non-null    float64
 9   0,625 Mbps  1 non-null      float64
 10  0,75 Mbps   284 non-null    float64
 11  1 Mbps      891 non-null    float64
 12  1,25 Mbps   1 non-null      float64
 13  1,5 Mbps    15 non-null     float64
 14  2 Mbps      722 non-null    float64
 15  2,2 Mbps    1 non-null      float64
 16  2,5 Mbps    4 non-null      float64
 17  3 Mbps      1351 non-null   float64
 18  3,3 Mbps    1 non-null      float64
 19  3,5 Mbps    373 non-null    float64
 20  4 Mbps      534 non-null    float64
 21  4,5 Mbps    1 non-null      float64
 22  5 Mbps      1003 non-null   float64
 23  6 Mbps      1413 non-null   float64
 24  6,4 Mbps    1 non-null      float64
 25  7 Mbps      225 non-null    float64
 26  7,5 Mbps    4 non-null      float64
 27  8 Mbps      630 non-null    float64
 28  9 Mbps      50 non-null     float64
 29  10 Mbps     1731 non-null   float64
 30  10,2 Mbps   1 non-null      float64
 31  11 Mbps     27 non-null     float64
 32  12 Mbps     306 non-null    float64
 33  12,3 Mbps   1 non-null      float64
 34  13 Mbps     16 non-null     float64
 35  14 Mbps     24 non-null     float64
 36  15 Mbps     1061 non-null   float64
 37  16 Mbps     16 non-null     float64
 38  17 Mbps     1 non-null      float64
 39  18 Mbps     20 non-null     float64
 40  20 Mbps     1106 non-null   float64
 41  20,5 Mbps   1 non-null      float64
 42  21 Mbps     5 non-null      float64
 43  22 Mbps     2 non-null      float64
 44  23 Mbps     2 non-null      float64
 45  24 Mbps     19 non-null     float64
 46  25 Mbps     457 non-null    float64
 47  25,1 Mbps   1 non-null      float64
 48  25,5 Mbps   1 non-null      float64
 49  26 Mbps     1 non-null      float64
 50  27 Mbps     1 non-null      float64
 51  30 Mbps     724 non-null    float64
 52  31 Mbps     4 non-null      float64
 53  32 Mbps     2 non-null      float64
 54  34 Mbps     1 non-null      float64
 55  35 Mbps     13 non-null     float64
 56  36 Mbps     3 non-null      float64
 57  38 Mbps     1 non-null      float64
 58  39 Mbps     1 non-null      float64
 59  40 Mbps     98 non-null     float64
 60  41 Mbps     1 non-null      float64
 61  45 Mbps     3 non-null      float64
 62  46 Mbps     1 non-null      float64
 63  48 Mbps     4 non-null      float64
 64  49 Mbps     1 non-null      float64
 65  50 Mbps     692 non-null    float64
 66  50,1 Mbps   1 non-null      float64
 67  50,25 Mbps  1 non-null      float64
 68  51 Mbps     2 non-null      float64
 69  55 Mbps     3 non-null      float64
 70  58 Mbps     1 non-null      float64
 71  59 Mbps     1 non-null      float64
 72  60 Mbps     261 non-null    float64
 73  61 Mbps     3 non-null      float64
 74  62 Mbps     1 non-null      float64
 75  64 Mbps     1 non-null      float64
 76  65 Mbps     2 non-null      float64
 77  66 Mbps     1 non-null      float64
 78  70 Mbps     17 non-null     float64
 79  75 Mbps     231 non-null    float64
 80  78 Mbps     1 non-null      float64
 81  80 Mbps     31 non-null     float64
 82  83 Mbps     1 non-null      float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

In [30]:
df_InternetFijoxVelocidaddeBajada['Localidad'] = df_InternetFijoxVelocidaddeBajada['Localidad'].astype(str)
df_InternetFijoxVelocidaddeBajada['Partido'] = df_InternetFijoxVelocidaddeBajada['Partido'].astype(str)

In [31]:
df_InternetFijoxVelocidaddeBajada['Localidad'] = df_InternetFijoxVelocidaddeBajada['Localidad'].str.capitalize() 
df_InternetFijoxVelocidaddeBajada['Partido'] = df_InternetFijoxVelocidaddeBajada['Partido'].str.capitalize()

In [32]:
# Lee el archivo CSV en un DataFrame
df_InternetPenetracion= pd.read_csv('Internet_Penetracion.csv')
print(df_InternetPenetracion)

      Año  Trimestre            Provincia Accesos por cada 100 hogares  \
0    2022          4         Buenos Aires                        78,94
1    2022          4      Capital Federal                       122,73
2    2022          4            Catamarca                        65,77
3    2022          4                Chaco                        43,62
4    2022          4               Chubut                        85,57
..    ...        ...                  ...                          ...
859  2014          1           Santa Cruz                        28,94
860  2014          1             Santa Fe                        47,85
861  2014          1  Santiago Del Estero                        16,31
862  2014          1     Tierra Del Fuego                        63,97
863  2014          1              Tucumán                        33,42

     Unnamed: 4  Unnamed: 5  Unnamed: 6
0           NaN         NaN         NaN
1           NaN         NaN         NaN
2           NaN         NaN         NaN
3           NaN         NaN         NaN
4           NaN         NaN         NaN
..          ...         ...         ...
859         NaN         NaN         NaN
860         NaN         NaN         NaN
861         NaN         NaN         NaN
862         NaN         NaN         NaN
863         NaN         NaN         NaN

[864 rows x 7 columns]

In [33]:
#Eliminar duplicados
df_InternetPenetracion.drop_duplicates( keep="first", inplace=True)

In [34]:
columnas_a_eliminar = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
df_InternetPenetracion = df_InternetPenetracion.drop(columns=columnas_a_eliminar)

In [35]:
df_InternetPenetracion.head(3)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          4     Buenos Aires                        78,94
1  2022          4  Capital Federal                       122,73
2  2022          4        Catamarca                        65,77

In [36]:
df_InternetPenetracion.shape

(864, 4)

In [37]:
#Convirtiendo los df limpios en un nuevo csv
df_InternetPenetracion.to_csv('Internet_Penetracion_Nuevo.csv', index=False)

In [38]:
df_InternetPenetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
dtypes: int64(2), object(2)
memory usage: 27.1+ KB

In [39]:
df_InternetPenetracion['Accesos por cada 100 hogares'] = df_InternetPenetracion['Accesos por cada 100 hogares'].str.replace(',', '.').astype(float)

Asegurarse de que las tasas de penetración sean coherentes y estén dentro de un rango lógico:

In [40]:
valid_range = (0, 100)  # Definir el rango lógico
df = df_InternetPenetracion[(df_InternetPenetracion['Accesos por cada 100 hogares'] >= valid_range[0]) & (df_InternetPenetracion['Accesos por cada 100 hogares'] <= valid_range[1])]

In [41]:
Ingresos_penetracion_df = pd.merge(df_Internet_Ingresos, df_InternetPenetracion, on=['Año', 'Trimestre'])
# Realizar comparaciones y validaciones

In [42]:
Ingresos_penetracion_df.head(3)

,Año,Trimestre,Ingresos (miles de pesos),Periodo,Provincia,Accesos por cada 100 hogares
0,2022,4,72,Oct-Dic 2022,Buenos Aires,78.94
1,2022,4,72,Oct-Dic 2022,Capital Federal,122.73
2,2022,4,72,Oct-Dic 2022,Catamarca,65.77

In [43]:
#Convirtiendo los df limpios en un nuevo csv
Ingresos_penetracion_df.to_csv('Ingresos_penetracion_df.csv', index=False)